@media (min-width: 768px)
.navbar-custom {
    padding: 15px;
    border-bottom: 0;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 0;
    text-transform: uppercase;
    background-color: rgba(#007bff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#007bff, endColorstr=#663399);
    background-image: -moz-linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: -webkit-linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: -ms-linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: -o-linear-gradient(left bottom, #007bff 10%, #663399 100%);
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(10%,#007bff), color-stop(100%,#663399));
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px)
.navbar-expand-md {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
nav {
  display: block;
}
body {
  font-family: 'Muli', sans-serif;
  color: #222;
  background-color: #fff;
}
